@model List<Sportur.Models.WholesalePrice>

<h2>Персональные цены</h2>

<a asp-action="Create">Назначить цену</a>

<table>
    <tr>
        <th>Покупатель</th>
        <th>Модель</th>
        <th>Цена</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.User.Email</td>
            <td>@item.BicycleVariant.BicycleModel.ModelName</td>
            <td>@item.Price</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>
